{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    {% for message in app.flashes('notice') %}
        <div class="alert alert-primary">
            {{ message }}
        </div>
    {% endfor %}
    {% for posts in posts %}
    <div class="col-md-8">
        <div class="p-4 border bg-light">
            <article class="blog-post">
                <h2 class="blog-post-title">{{ posts.title }}</h2>
                <p>{{ posts.text }}</p>
                <div class="d-grid gap-2 d-md-block">
                    <a class="btn btn-warning" href="{{ path('update', {'id': posts.id}) }}">Update</a>
                    <a class="btn btn-outline-danger" href="{{ path('delete', {'id': posts.id}) }}">Delete</a>
                </div>
            </article>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}